:root {
    --main-color: #9CA4B8;
    --dark-color: #212529;
}

body {
    font-family: Lato;
}

h1 {
    text-shadow: 3px 3px 9px rgba(60, 63, 71, 1);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:link {
    color: var(--dark-color);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #adb5bd;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #f8f9fa;
    background-color: transparent;
    text-decoration: underline;
}

.bgcolor {
    background-color: var(--main-color);
    background-image: url("/Assets/shattered-dark.png");
}

.time {
    font-style: italic;
    padding-left: 0.5em;
}

.head {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
    display: inline-block;
    border: solid 5px whitesmoke;
}

.icon {
    width: 50px;
    fill: var(--main-color);
    padding-right: 0.5em;
    text-shadow: 3px 3px 9px #3c3f47;
}

.collapsesize {
    min-height: 200px;
    max-width: 100%;
}